{
  "openapi": "3.1.0",
  "info": {
    "title": "Taro API",
    "version": "v1",
    "description": "Generated from worker/src/routes by scripts/export-openapi.ts; do not edit. Errors use the 03 §2.2 envelope with GLOSSARY §5 codes."
  },
  "servers": [
    {
      "url": "https://api.taro.vshyrochuk.com",
      "description": "prod"
    },
    {
      "url": "https://api-staging.taro.vshyrochuk.com",
      "description": "staging"
    }
  ],
  "components": {
    "securitySchemes": {
      "installToken": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "JWT",
        "description": "EdDSA install token, 7-day TTL (03 §3.4)."
      }
    },
    "schemas": {
      "HealthResponse": {
        "type": "object",
        "properties": {
          "status": {
            "type": "string",
            "enum": [
              "ok"
            ]
          },
          "workerVersion": {
            "type": "string"
          },
          "environment": {
            "type": "string",
            "enum": [
              "dev",
              "staging",
              "prod"
            ]
          }
        },
        "required": [
          "status",
          "workerVersion",
          "environment"
        ]
      },
      "PublicConfigDto": {
        "type": "object",
        "properties": {
          "version": {
            "type": "integer"
          }
        },
        "required": [
          "version"
        ],
        "additionalProperties": {},
        "description": "Public remote config (03 §8.2). Keys are the GLOSSARY §8.1 names; store.packs[] carries the Worker-injected credits."
      },
      "AttestChallenge": {
        "type": "object",
        "properties": {
          "challenge": {
            "type": "string"
          },
          "expiresAt": {
            "type": "string",
            "format": "date-time"
          },
          "powBits": {
            "type": "integer"
          }
        },
        "required": [
          "challenge",
          "expiresAt",
          "powBits"
        ],
        "description": "Stateless challenge (03 §3.2): base64url(nonce16 ‖ exp8 ‖ HMAC[0..16]), valid 5 minutes. powBits applies only to a `type: none` registration (§2.4)."
      },
      "ErrorEnvelope": {
        "type": "object",
        "properties": {
          "error": {
            "type": "object",
            "properties": {
              "code": {
                "type": "string",
                "enum": [
                  "VALIDATION_FAILED",
                  "IDEMPOTENCY_KEY_REQUIRED",
                  "UNAUTHENTICATED",
                  "TOKEN_EXPIRED",
                  "ATTESTATION_REQUIRED",
                  "INSUFFICIENT_CREDITS",
                  "ATTESTATION_FAILED",
                  "REWARDED_DISABLED",
                  "AI_UNAVAILABLE_REGION",
                  "NOT_FOUND",
                  "REQUEST_IN_PROGRESS",
                  "HOLD_CONFLICT",
                  "PURCHASE_ALREADY_CLAIMED",
                  "REWARDED_DAILY_CAP",
                  "TIMEZONE_CHANGE_TOO_SOON",
                  "READING_EXPIRED_REFUNDED",
                  "AI_CONSENT_REQUIRED",
                  "IDEMPOTENCY_KEY_REUSED",
                  "PURCHASE_INVALID",
                  "PRODUCT_UNKNOWN",
                  "SPREAD_INVALID",
                  "UPGRADE_REQUIRED",
                  "RATE_LIMITED",
                  "INTERNAL",
                  "AI_UNAVAILABLE",
                  "AI_BUDGET_EXHAUSTED",
                  "READINGS_DISABLED"
                ]
              },
              "message": {
                "type": "string"
              },
              "requestId": {
                "type": "string"
              },
              "retryable": {
                "type": "boolean"
              },
              "retryAfterSec": {
                "type": [
                  "integer",
                  "null"
                ]
              },
              "details": {
                "type": "object",
                "additionalProperties": {}
              }
            },
            "required": [
              "code",
              "message",
              "requestId",
              "retryable",
              "retryAfterSec"
            ]
          }
        },
        "required": [
          "error"
        ]
      },
      "RegistrationResponse": {
        "type": "object",
        "properties": {
          "installToken": {
            "type": "string"
          },
          "expiresAt": {
            "type": "string",
            "format": "date-time"
          },
          "trust": {
            "type": "string",
            "enum": [
              "high",
              "low"
            ]
          },
          "purchaseBinding": {
            "$ref": "#/components/schemas/PurchaseBinding"
          },
          "balance": {
            "$ref": "#/components/schemas/BalanceDto"
          },
          "config": {
            "$ref": "#/components/schemas/PublicConfigDto"
          }
        },
        "required": [
          "installToken",
          "expiresAt",
          "trust",
          "purchaseBinding",
          "balance",
          "config"
        ]
      },
      "PurchaseBinding": {
        "type": "object",
        "properties": {
          "appleAccountToken": {
            "type": "string"
          },
          "playAccountId": {
            "type": "string"
          }
        }
      },
      "BalanceDto": {
        "type": "object",
        "properties": {
          "free": {
            "type": "object",
            "properties": {
              "limit": {
                "type": "integer"
              },
              "used": {
                "type": "integer"
              },
              "remaining": {
                "type": "integer"
              },
              "localDate": {
                "type": "string",
                "format": "date",
                "example": "2026-09-26"
              },
              "resetsAt": {
                "type": "string",
                "format": "date-time",
                "example": "2026-09-26T22:00:00Z"
              },
              "timezone": {
                "type": "string",
                "example": "Europe/Berlin"
              },
              "paused": {
                "type": "boolean"
              }
            },
            "required": [
              "limit",
              "used",
              "remaining",
              "localDate",
              "resetsAt",
              "timezone",
              "paused"
            ]
          },
          "bonus": {
            "type": "integer"
          },
          "paid": {
            "type": "integer"
          },
          "canRead": {
            "type": "boolean"
          },
          "canReadReason": {
            "type": [
              "string",
              "null"
            ],
            "enum": [
              "noCredits",
              "dailyLimit",
              "lowTrustCap",
              "readingsPaused",
              null
            ]
          },
          "nextSource": {
            "type": [
              "string",
              "null"
            ],
            "enum": [
              "free",
              "bonus",
              "paid",
              null
            ]
          },
          "rewarded": {
            "type": "object",
            "properties": {
              "enabled": {
                "type": "boolean"
              },
              "amount": {
                "type": "integer"
              },
              "dailyCap": {
                "type": "integer"
              },
              "grantedToday": {
                "type": "integer"
              },
              "available": {
                "type": "boolean"
              },
              "cooldownEndsAt": {
                "type": [
                  "string",
                  "null"
                ],
                "format": "date-time",
                "example": "2026-09-26T22:00:00Z"
              }
            },
            "required": [
              "enabled",
              "amount",
              "dailyCap",
              "grantedToday",
              "available",
              "cooldownEndsAt"
            ]
          },
          "paidBlocked": {
            "type": "boolean"
          },
          "purchasesAllowed": {
            "type": "boolean"
          },
          "purchasesBlockedReason": {
            "type": [
              "string",
              "null"
            ],
            "enum": [
              "blocked",
              "refundDebt",
              "storeDisabled",
              null
            ]
          },
          "ledgerVersion": {
            "type": "integer"
          },
          "serverTime": {
            "type": "string",
            "format": "date-time",
            "example": "2026-09-26T22:00:00Z"
          }
        },
        "required": [
          "free",
          "bonus",
          "paid",
          "canRead",
          "canReadReason",
          "nextSource",
          "rewarded",
          "paidBlocked",
          "purchasesAllowed",
          "purchasesBlockedReason",
          "ledgerVersion",
          "serverTime"
        ]
      },
      "RegisterRequest": {
        "type": "object",
        "properties": {
          "installId": {
            "type": "string",
            "format": "uuid"
          },
          "installSecret": {
            "type": "string",
            "pattern": "^[A-Za-z0-9_-]{43}$",
            "description": "32 random bytes, base64url; sent only on this route (RC54)."
          },
          "platform": {
            "type": "string",
            "enum": [
              "ios",
              "android"
            ]
          },
          "appVersion": {
            "type": "string"
          },
          "locale": {
            "type": "string",
            "enum": [
              "en",
              "ar",
              "de",
              "es",
              "fr",
              "it",
              "ja",
              "ko",
              "nl",
              "pt",
              "tr",
              "uk"
            ]
          },
          "timezone": {
            "type": "string",
            "minLength": 1,
            "maxLength": 64
          },
          "deviceCheckToken": {
            "type": "string",
            "minLength": 1,
            "maxLength": 8192,
            "description": "iOS DeviceCheck token (03 §3.7)."
          },
          "deviceKey": {
            "type": "string",
            "pattern": "^[A-Za-z0-9_-]{43}$",
            "description": "Android: base64url(SHA256(\"taro-device-v1\" ‖ ANDROID_ID)) (03 §3.7)."
          },
          "attestation": {
            "$ref": "#/components/schemas/RegistrationAttestation"
          }
        },
        "required": [
          "installId",
          "installSecret",
          "platform",
          "appVersion",
          "locale",
          "timezone",
          "attestation"
        ]
      },
      "RegistrationAttestation": {
        "oneOf": [
          {
            "type": "object",
            "properties": {
              "type": {
                "type": "string",
                "enum": [
                  "app_attest"
                ]
              },
              "challenge": {
                "type": "string",
                "minLength": 1,
                "maxLength": 128
              },
              "keyId": {
                "type": "string",
                "minLength": 1,
                "maxLength": 128
              },
              "attestationObject": {
                "type": "string",
                "minLength": 1,
                "maxLength": 32768
              },
              "previousKeyAssertion": {
                "type": "string",
                "minLength": 1,
                "maxLength": 8192,
                "description": "iOS only: App Attest assertion by the previously stored key over the registration hash, proving ownership when the install secret was lost (03 §3.3, RC54)."
              }
            },
            "required": [
              "type",
              "challenge",
              "keyId",
              "attestationObject"
            ]
          },
          {
            "type": "object",
            "properties": {
              "type": {
                "type": "string",
                "enum": [
                  "play_integrity"
                ]
              },
              "challenge": {
                "type": "string",
                "minLength": 1,
                "maxLength": 128
              },
              "integrityToken": {
                "type": "string",
                "minLength": 1,
                "maxLength": 32768
              }
            },
            "required": [
              "type",
              "challenge",
              "integrityToken"
            ]
          },
          {
            "type": "object",
            "properties": {
              "type": {
                "type": "string",
                "enum": [
                  "none"
                ]
              },
              "challenge": {
                "type": "string",
                "minLength": 1,
                "maxLength": 128
              },
              "reason": {
                "type": "string",
                "enum": [
                  "unsupported",
                  "error",
                  "timeout"
                ]
              },
              "pow": {
                "type": "string",
                "minLength": 1,
                "maxLength": 64
              },
              "previousKeyAssertion": {
                "type": "string",
                "minLength": 1,
                "maxLength": 8192,
                "description": "iOS only: App Attest assertion by the previously stored key over the registration hash, proving ownership when the install secret was lost (03 §3.3, RC54)."
              }
            },
            "required": [
              "type",
              "challenge",
              "reason"
            ]
          }
        ]
      },
      "InstallTokenResponse": {
        "type": "object",
        "properties": {
          "installToken": {
            "type": "string"
          },
          "expiresAt": {
            "type": "string",
            "format": "date-time"
          },
          "trust": {
            "type": "string",
            "enum": [
              "high",
              "low"
            ]
          }
        },
        "required": [
          "installToken",
          "expiresAt",
          "trust"
        ]
      },
      "TimezoneRequest": {
        "type": "object",
        "properties": {
          "timezone": {
            "type": "string",
            "example": "America/New_York"
          }
        },
        "required": [
          "timezone"
        ]
      },
      "VerifyPurchaseGranted": {
        "type": "object",
        "properties": {
          "status": {
            "type": "string",
            "enum": [
              "granted",
              "already_granted"
            ]
          },
          "purchaseId": {
            "type": "string"
          },
          "productId": {
            "type": "string"
          },
          "creditsGranted": {
            "type": "integer"
          },
          "isFirstPurchase": {
            "type": "boolean"
          },
          "balance": {
            "$ref": "#/components/schemas/BalanceDto"
          }
        },
        "required": [
          "status",
          "purchaseId",
          "productId",
          "creditsGranted",
          "isFirstPurchase",
          "balance"
        ]
      },
      "VerifyPurchasePending": {
        "type": "object",
        "properties": {
          "status": {
            "type": "string",
            "enum": [
              "pending"
            ]
          }
        },
        "required": [
          "status"
        ]
      },
      "VerifyPurchaseRequest": {
        "oneOf": [
          {
            "type": "object",
            "properties": {
              "platform": {
                "type": "string",
                "enum": [
                  "ios"
                ]
              },
              "productId": {
                "type": "string",
                "minLength": 1,
                "maxLength": 200,
                "example": "com.vshyrochuk.taro.readings_3"
              },
              "transactionId": {
                "type": "string",
                "pattern": "^\\d{1,40}$"
              },
              "signedTransaction": {
                "type": "string",
                "minLength": 1,
                "maxLength": 20000
              },
              "transferToken": {
                "type": "string",
                "minLength": 1,
                "maxLength": 1024,
                "description": "Support transfer code being re-submitted (RC84); informational"
              }
            },
            "required": [
              "platform",
              "productId",
              "transactionId"
            ]
          },
          {
            "type": "object",
            "properties": {
              "platform": {
                "type": "string",
                "enum": [
                  "android"
                ]
              },
              "productId": {
                "type": "string",
                "minLength": 1,
                "maxLength": 200,
                "example": "com.vshyrochuk.taro.readings_3"
              },
              "purchaseToken": {
                "type": "string",
                "minLength": 1,
                "maxLength": 4096
              },
              "orderId": {
                "type": "string",
                "minLength": 1,
                "maxLength": 200
              },
              "transferToken": {
                "type": "string",
                "minLength": 1,
                "maxLength": 1024,
                "description": "Support transfer code being re-submitted (RC84); informational"
              }
            },
            "required": [
              "platform",
              "productId",
              "purchaseToken"
            ]
          }
        ]
      },
      "RewardIntent": {
        "type": "object",
        "properties": {
          "intentId": {
            "type": "string",
            "example": "q8ZpYf1bQ0a3xT9mK2nR7w"
          },
          "customData": {
            "type": "string"
          },
          "userId": {
            "type": "string"
          },
          "amount": {
            "type": "integer"
          },
          "expiresAt": {
            "type": "string",
            "format": "date-time",
            "example": "2026-09-26T10:15:00Z"
          }
        },
        "required": [
          "intentId",
          "customData",
          "userId",
          "amount",
          "expiresAt"
        ]
      },
      "RewardIntentRequest": {
        "type": "object",
        "properties": {
          "adUnitId": {
            "type": "string",
            "minLength": 1,
            "maxLength": 128,
            "example": "ca-app-pub-5769204800499735/4059850229"
          }
        },
        "required": [
          "adUnitId"
        ]
      },
      "RewardIntentStatus": {
        "type": "object",
        "properties": {
          "status": {
            "type": "string",
            "enum": [
              "issued",
              "granted",
              "cancelled",
              "expired",
              "rejected"
            ]
          },
          "amount": {
            "type": "integer"
          },
          "balance": {
            "$ref": "#/components/schemas/BalanceDto"
          }
        },
        "required": [
          "status",
          "amount"
        ]
      },
      "Hold": {
        "type": "object",
        "properties": {
          "clientReadingId": {
            "type": "string",
            "format": "uuid",
            "example": "0c6e7a52-3d1f-4b8e-9c2a-5e6f7a8b9c0d"
          },
          "chargeSource": {
            "type": "string",
            "enum": [
              "free",
              "bonus",
              "paid"
            ]
          },
          "expiresAt": {
            "type": "string",
            "format": "date-time",
            "example": "2026-09-26T09:25:02Z"
          },
          "balance": {
            "$ref": "#/components/schemas/BalanceDto"
          }
        },
        "required": [
          "clientReadingId",
          "chargeSource",
          "expiresAt",
          "balance"
        ]
      },
      "HoldRequest": {
        "type": "object",
        "properties": {
          "clientReadingId": {
            "type": "string",
            "format": "uuid",
            "example": "0c6e7a52-3d1f-4b8e-9c2a-5e6f7a8b9c0d"
          },
          "spread": {
            "$ref": "#/components/schemas/SpreadRef"
          },
          "locale": {
            "type": "string",
            "enum": [
              "en",
              "ar",
              "de",
              "es",
              "fr",
              "it",
              "ja",
              "ko",
              "nl",
              "pt",
              "tr",
              "uk"
            ]
          }
        },
        "required": [
          "clientReadingId",
          "spread",
          "locale"
        ]
      },
      "SpreadRef": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "minLength": 1,
            "maxLength": 32,
            "example": "three_ppf"
          },
          "version": {
            "type": "integer",
            "minimum": 1,
            "example": 1
          }
        },
        "required": [
          "id",
          "version"
        ]
      },
      "ReadingResponse": {
        "type": "object",
        "properties": {
          "readingId": {
            "type": "string"
          },
          "status": {
            "type": "string",
            "enum": [
              "completed",
              "declined"
            ]
          },
          "chargeSource": {
            "type": "string",
            "enum": [
              "free",
              "bonus",
              "paid",
              "none"
            ]
          },
          "promptVersion": {
            "type": "string"
          },
          "reading": {
            "$ref": "#/components/schemas/ReadingWire"
          },
          "safety": {
            "$ref": "#/components/schemas/Safety"
          },
          "balance": {
            "$ref": "#/components/schemas/BalanceDto"
          }
        },
        "required": [
          "readingId",
          "status",
          "chargeSource",
          "balance"
        ]
      },
      "ReadingWire": {
        "type": "object",
        "properties": {
          "title": {
            "type": "string"
          },
          "overview": {
            "type": "string"
          },
          "cards": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "positionId": {
                  "type": "string"
                },
                "cardId": {
                  "type": "string"
                },
                "reversed": {
                  "type": "boolean"
                },
                "interpretation": {
                  "type": "string"
                }
              },
              "required": [
                "positionId",
                "cardId",
                "reversed",
                "interpretation"
              ]
            }
          },
          "synthesis": {
            "type": "string"
          },
          "reflectionPrompts": {
            "type": "array",
            "items": {
              "type": "string"
            }
          }
        },
        "required": [
          "title",
          "overview",
          "cards",
          "synthesis",
          "reflectionPrompts"
        ]
      },
      "Safety": {
        "type": "object",
        "properties": {
          "category": {
            "type": "string",
            "enum": [
              "health",
              "pregnancy",
              "death",
              "legal",
              "financial",
              "gambling",
              "self_harm",
              "harm_to_others",
              "sexual_minors",
              "hate_or_harassment",
              "other"
            ]
          },
          "messageKey": {
            "type": "string",
            "example": "safetyDeclinedSelfHarm"
          },
          "crisisResources": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/CrisisResource"
            }
          },
          "canRephrase": {
            "type": "boolean"
          }
        },
        "required": [
          "category",
          "messageKey",
          "crisisResources",
          "canRephrase"
        ]
      },
      "CrisisResource": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string"
          },
          "phone": {
            "type": "string"
          },
          "sms": {
            "type": "string"
          },
          "url": {
            "type": "string"
          },
          "hours": {
            "type": "string"
          },
          "languages": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "verifiedAt": {
            "type": [
              "string",
              "null"
            ]
          }
        },
        "required": [
          "name",
          "languages",
          "verifiedAt"
        ]
      },
      "ReadingRequest": {
        "type": "object",
        "properties": {
          "clientReadingId": {
            "type": "string",
            "format": "uuid",
            "example": "0c6e7a52-3d1f-4b8e-9c2a-5e6f7a8b9c0d"
          },
          "spread": {
            "$ref": "#/components/schemas/SpreadRef"
          },
          "cards": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "positionId": {
                  "type": "string",
                  "minLength": 1,
                  "maxLength": 32,
                  "example": "past"
                },
                "cardId": {
                  "type": "string",
                  "minLength": 1,
                  "maxLength": 32,
                  "example": "major_16"
                },
                "reversed": {
                  "type": "boolean"
                }
              },
              "required": [
                "positionId",
                "cardId",
                "reversed"
              ]
            },
            "minItems": 1,
            "maxItems": 10
          },
          "question": {
            "type": "string",
            "maxLength": 4000
          },
          "locale": {
            "type": "string",
            "enum": [
              "en",
              "ar",
              "de",
              "es",
              "fr",
              "it",
              "ja",
              "ko",
              "nl",
              "pt",
              "tr",
              "uk"
            ]
          },
          "drawnAt": {
            "type": "string",
            "format": "date-time",
            "example": "2026-09-26T09:10:02Z"
          }
        },
        "required": [
          "clientReadingId",
          "spread",
          "cards",
          "locale",
          "drawnAt"
        ]
      },
      "ReadingState": {
        "type": "object",
        "properties": {
          "status": {
            "type": "string",
            "enum": [
              "held",
              "generating",
              "completed",
              "declined",
              "failed",
              "no_credit",
              "expired_hold",
              "expired_refunded"
            ]
          },
          "attempt": {
            "type": "integer"
          },
          "chargeSource": {
            "type": "string",
            "enum": [
              "free",
              "bonus",
              "paid",
              "none"
            ]
          },
          "promptVersion": {
            "type": "string"
          },
          "reading": {
            "$ref": "#/components/schemas/ReadingWire"
          },
          "safety": {
            "$ref": "#/components/schemas/Safety"
          },
          "balance": {
            "$ref": "#/components/schemas/BalanceDto"
          }
        },
        "required": [
          "status",
          "attempt",
          "balance"
        ]
      },
      "ReadingReport": {
        "type": "object",
        "properties": {
          "reportId": {
            "type": "string",
            "example": "0192f0c1-7a4e-7b3d-9c2a-5e6f7a8b9c0d"
          },
          "status": {
            "type": "string",
            "enum": [
              "received"
            ]
          }
        },
        "required": [
          "reportId",
          "status"
        ]
      },
      "ReadingReportRequest": {
        "type": "object",
        "properties": {
          "reason": {
            "type": "string",
            "enum": [
              "offensive",
              "harmful_advice",
              "sexual",
              "hateful",
              "other"
            ]
          },
          "note": {
            "type": "string",
            "maxLength": 500
          },
          "question": {
            "type": "string",
            "maxLength": 1000
          },
          "reading": {
            "type": "object",
            "additionalProperties": {},
            "example": {
              "title": "…",
              "overview": "…",
              "cards": [],
              "synthesis": "…"
            }
          },
          "locale": {
            "type": "string",
            "enum": [
              "en",
              "ar",
              "de",
              "es",
              "fr",
              "it",
              "ja",
              "ko",
              "nl",
              "pt",
              "tr",
              "uk"
            ]
          }
        },
        "required": [
          "reason",
          "reading",
          "locale"
        ]
      },
      "AppStoreNotification": {
        "type": "object",
        "properties": {
          "signedPayload": {
            "type": "string",
            "minLength": 1,
            "maxLength": 100000,
            "description": "JWS (x5c → Apple Root CA G3) of `responseBodyV2DecodedPayload`"
          }
        },
        "required": [
          "signedPayload"
        ]
      },
      "PubsubPush": {
        "type": "object",
        "properties": {
          "message": {
            "type": "object",
            "properties": {
              "messageId": {
                "type": "string",
                "minLength": 1,
                "maxLength": 200
              },
              "data": {
                "type": "string",
                "maxLength": 100000,
                "description": "base64 JSON of the RTDN `DeveloperNotification`"
              },
              "publishTime": {
                "type": "string"
              },
              "attributes": {
                "type": "object",
                "additionalProperties": {
                  "type": "string"
                }
              }
            },
            "required": [
              "messageId"
            ]
          },
          "subscription": {
            "type": "string"
          }
        },
        "required": [
          "message"
        ]
      }
    },
    "parameters": {}
  },
  "paths": {
    "/v1/health": {
      "get": {
        "tags": [
          "health"
        ],
        "security": [],
        "x-taro-auth": "public",
        "x-taro-flags": [],
        "summary": "Liveness and version (public smoke check, 03 §14.2)",
        "responses": {
          "200": {
            "description": "Worker is up",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HealthResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/config": {
      "get": {
        "tags": [
          "config"
        ],
        "security": [],
        "x-taro-auth": "public",
        "x-taro-flags": [],
        "summary": "Public remote config with ETag (03 §8.1)",
        "parameters": [
          {
            "schema": {
              "type": "string"
            },
            "required": false,
            "name": "if-none-match",
            "in": "header"
          }
        ],
        "responses": {
          "200": {
            "description": "Active public config",
            "headers": {
              "ETag": {
                "schema": {
                  "type": "string"
                },
                "required": true
              },
              "Cache-Control": {
                "schema": {
                  "type": "string"
                },
                "required": true
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PublicConfigDto"
                }
              }
            }
          },
          "304": {
            "description": "Unchanged since the ETag in If-None-Match",
            "headers": {
              "ETag": {
                "schema": {
                  "type": "string"
                },
                "required": true
              },
              "Cache-Control": {
                "schema": {
                  "type": "string"
                },
                "required": true
              }
            }
          }
        }
      }
    },
    "/v1/attest/challenge": {
      "post": {
        "tags": [
          "identity"
        ],
        "summary": "Attestation challenge (public, rate-limited per IP prefix)",
        "security": [],
        "x-taro-auth": "public",
        "x-taro-flags": [],
        "responses": {
          "200": {
            "description": "A fresh challenge",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AttestChallenge"
                }
              }
            }
          },
          "400": {
            "description": "Missing client headers",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          },
          "429": {
            "description": "Rate limited (`reason = burst`)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          }
        }
      }
    },
    "/v1/installs": {
      "post": {
        "tags": [
          "identity"
        ],
        "summary": "Register or re-register an install with attestation (03 §3.3)",
        "security": [],
        "x-taro-auth": "public",
        "x-taro-flags": [
          "idem"
        ],
        "parameters": [
          {
            "schema": {
              "type": "string",
              "format": "uuid",
              "description": "[idem]: required; a UUID per user action, reused only on retry (03 §2.3)."
            },
            "required": false,
            "description": "[idem]: required; a UUID per user action, reused only on retry (03 §2.3).",
            "name": "idempotency-key",
            "in": "header"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RegisterRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Existing install re-registered (ownership proven, old tokens revoked)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RegistrationResponse"
                }
              }
            }
          },
          "201": {
            "description": "New install registered",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RegistrationResponse"
                }
              }
            }
          },
          "400": {
            "description": "Validation failed or Idempotency-Key missing",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          },
          "403": {
            "description": "ATTESTATION_FAILED",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          },
          "409": {
            "description": "REQUEST_IN_PROGRESS",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          },
          "422": {
            "description": "IDEMPOTENCY_KEY_REUSED",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          },
          "429": {
            "description": "RATE_LIMITED (`burst` or `lowTrustCap`)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          }
        }
      }
    },
    "/v1/installs/token": {
      "post": {
        "tags": [
          "identity"
        ],
        "summary": "Refresh the install token with a fresh attestation (03 §3.4)",
        "security": [
          {
            "installToken": []
          }
        ],
        "x-taro-auth": "tokenMayBeExpired",
        "x-taro-flags": [
          "attest"
        ],
        "parameters": [
          {
            "schema": {
              "type": "string",
              "description": "[attest]: `aa1.<assertion>`, `pi1.<token>` or `none` (03 §3.4)."
            },
            "required": false,
            "description": "[attest]: `aa1.<assertion>`, `pi1.<token>` or `none` (03 §3.4).",
            "name": "x-taro-attestation",
            "in": "header"
          }
        ],
        "responses": {
          "200": {
            "description": "A fresh 7-day install token",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InstallTokenResponse"
                }
              }
            }
          },
          "401": {
            "description": "UNAUTHENTICATED or ATTESTATION_REQUIRED",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          },
          "403": {
            "description": "ATTESTATION_FAILED",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          },
          "429": {
            "description": "RATE_LIMITED",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          }
        }
      }
    },
    "/v1/balance": {
      "get": {
        "tags": [
          "balance"
        ],
        "summary": "Balance, free allowance and rewarded status (03 §5.1)",
        "security": [
          {
            "installToken": []
          }
        ],
        "x-taro-auth": "token",
        "x-taro-flags": [],
        "responses": {
          "200": {
            "description": "Current balance",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BalanceDto"
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid install token",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          },
          "429": {
            "description": "Rate limited",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          }
        }
      }
    },
    "/v1/installs/me/timezone": {
      "put": {
        "tags": [
          "installs"
        ],
        "summary": "Change the install timezone (24 h cooldown) and return the balance (03 §3.5)",
        "security": [
          {
            "installToken": []
          }
        ],
        "x-taro-auth": "token",
        "x-taro-flags": [
          "idem"
        ],
        "parameters": [
          {
            "schema": {
              "type": "string",
              "format": "uuid",
              "description": "[idem]: required; a UUID per user action, reused only on retry (03 §2.3)."
            },
            "required": false,
            "description": "[idem]: required; a UUID per user action, reused only on retry (03 §2.3).",
            "name": "idempotency-key",
            "in": "header"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/TimezoneRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Timezone stored (or unchanged); the resulting balance",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BalanceDto"
                }
              }
            }
          },
          "400": {
            "description": "Invalid timezone or missing Idempotency-Key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid install token",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          },
          "409": {
            "description": "TIMEZONE_CHANGE_TOO_SOON (details.allowedAfter) or REQUEST_IN_PROGRESS",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          },
          "429": {
            "description": "Rate limited",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          }
        }
      }
    },
    "/v1/installs/me": {
      "delete": {
        "tags": [
          "installs"
        ],
        "summary": "Erase personal usage data; keeps the install, ledger and purchases (03 §3.6)",
        "security": [
          {
            "installToken": []
          }
        ],
        "x-taro-auth": "token",
        "x-taro-flags": [
          "idem"
        ],
        "parameters": [
          {
            "schema": {
              "type": "string",
              "format": "uuid",
              "description": "[idem]: required; a UUID per user action, reused only on retry (03 §2.3)."
            },
            "required": false,
            "description": "[idem]: required; a UUID per user action, reused only on retry (03 §2.3).",
            "name": "idempotency-key",
            "in": "header"
          }
        ],
        "responses": {
          "204": {
            "description": "Erased"
          },
          "400": {
            "description": "Missing Idempotency-Key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid install token",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          },
          "409": {
            "description": "REQUEST_IN_PROGRESS",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          },
          "429": {
            "description": "Rate limited",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          }
        }
      }
    },
    "/v1/purchases/verify": {
      "post": {
        "tags": [
          "purchases"
        ],
        "summary": "Verify a store purchase and grant its credits (03 §6.2, §6.3)",
        "security": [
          {
            "installToken": []
          }
        ],
        "x-taro-auth": "token",
        "x-taro-flags": [
          "idem"
        ],
        "parameters": [
          {
            "schema": {
              "type": "string",
              "format": "uuid",
              "description": "[idem]: required; a UUID per user action, reused only on retry (03 §2.3)."
            },
            "required": false,
            "description": "[idem]: required; a UUID per user action, reused only on retry (03 §2.3).",
            "name": "idempotency-key",
            "in": "header"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/VerifyPurchaseRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Granted now, or an idempotent replay for this install (`already_granted`)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/VerifyPurchaseGranted"
                }
              }
            }
          },
          "202": {
            "description": "Android pending purchase; nothing granted yet",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/VerifyPurchasePending"
                }
              }
            }
          },
          "400": {
            "description": "Invalid body or missing Idempotency-Key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid install token",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          },
          "409": {
            "description": "PURCHASE_ALREADY_CLAIMED (details.transferEligible, details.transferToken) or REQUEST_IN_PROGRESS",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          },
          "422": {
            "description": "PURCHASE_INVALID (details.reason, e.g. sandbox_cap) or PRODUCT_UNKNOWN",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          },
          "429": {
            "description": "Rate limited",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          },
          "500": {
            "description": "Store unavailable; retry later",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          }
        }
      }
    },
    "/v1/rewards/intents": {
      "post": {
        "tags": [
          "rewards"
        ],
        "summary": "Open a reward intent before showing a rewarded ad (03 §7.1)",
        "security": [
          {
            "installToken": []
          }
        ],
        "x-taro-auth": "token",
        "x-taro-flags": [
          "idem",
          "attest"
        ],
        "parameters": [
          {
            "schema": {
              "type": "string",
              "format": "uuid",
              "description": "[idem]: required; a UUID per user action, reused only on retry (03 §2.3)."
            },
            "required": false,
            "description": "[idem]: required; a UUID per user action, reused only on retry (03 §2.3).",
            "name": "idempotency-key",
            "in": "header"
          },
          {
            "schema": {
              "type": "string",
              "description": "[attest]: `aa1.<assertion>`, `pi1.<token>` or `none` (03 §3.4)."
            },
            "required": false,
            "description": "[attest]: `aa1.<assertion>`, `pi1.<token>` or `none` (03 §3.4).",
            "name": "x-taro-attestation",
            "in": "header"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RewardIntentRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Intent issued; pass `intentId` as SSV `userId` and `customData`",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RewardIntent"
                }
              }
            }
          },
          "400": {
            "description": "Unknown ad unit or missing Idempotency-Key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid install token",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          },
          "403": {
            "description": "REWARDED_DISABLED or ATTESTATION_FAILED",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          },
          "409": {
            "description": "REWARDED_DAILY_CAP (details.reason cap|cooldown, details.availableAt) or REQUEST_IN_PROGRESS",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          },
          "429": {
            "description": "Rate limited",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          }
        }
      }
    },
    "/v1/rewards/intents/{intentId}": {
      "get": {
        "tags": [
          "rewards"
        ],
        "summary": "Poll a reward intent; `balance` is included once granted (03 §7.3)",
        "security": [
          {
            "installToken": []
          }
        ],
        "x-taro-auth": "token",
        "x-taro-flags": [],
        "parameters": [
          {
            "schema": {
              "type": "string",
              "minLength": 1,
              "maxLength": 64,
              "example": "q8ZpYf1bQ0a3xT9mK2nR7w"
            },
            "required": true,
            "name": "intentId",
            "in": "path"
          }
        ],
        "responses": {
          "200": {
            "description": "Intent status",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RewardIntentStatus"
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid install token",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          },
          "404": {
            "description": "No such intent for this install",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          },
          "429": {
            "description": "Rate limited",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          }
        }
      }
    },
    "/v1/rewards/intents/{intentId}/cancel": {
      "post": {
        "tags": [
          "rewards"
        ],
        "summary": "Cancel an open reward intent after a load failure or early dismissal (03 §7.3)",
        "security": [
          {
            "installToken": []
          }
        ],
        "x-taro-auth": "token",
        "x-taro-flags": [],
        "parameters": [
          {
            "schema": {
              "type": "string",
              "minLength": 1,
              "maxLength": 64,
              "example": "q8ZpYf1bQ0a3xT9mK2nR7w"
            },
            "required": true,
            "name": "intentId",
            "in": "path"
          }
        ],
        "responses": {
          "204": {
            "description": "Cancelled (or already settled)"
          },
          "401": {
            "description": "Missing or invalid install token",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          },
          "404": {
            "description": "No such intent for this install",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          },
          "429": {
            "description": "Rate limited",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          }
        }
      }
    },
    "/v1/readings/holds": {
      "post": {
        "tags": [
          "readings"
        ],
        "summary": "Pre-draw hold: reserve one reading before the shuffle (03 §9.0, RC50)",
        "security": [
          {
            "installToken": []
          }
        ],
        "x-taro-auth": "token",
        "x-taro-flags": [
          "idem",
          "attest"
        ],
        "parameters": [
          {
            "schema": {
              "type": "string",
              "format": "uuid",
              "description": "[idem]: required; a UUID per user action, reused only on retry (03 §2.3)."
            },
            "required": false,
            "description": "[idem]: required; a UUID per user action, reused only on retry (03 §2.3).",
            "name": "idempotency-key",
            "in": "header"
          },
          {
            "schema": {
              "type": "string",
              "description": "[attest]: `aa1.<assertion>`, `pi1.<token>` or `none` (03 §3.4)."
            },
            "required": false,
            "description": "[attest]: `aa1.<assertion>`, `pi1.<token>` or `none` (03 §3.4).",
            "name": "x-taro-attestation",
            "in": "header"
          },
          {
            "schema": {
              "type": "string",
              "description": "AI consent version the user accepted (RC28); below `ai.consentVersion` → 412.",
              "example": "1"
            },
            "required": false,
            "description": "AI consent version the user accepted (RC28); below `ai.consentVersion` → 412.",
            "name": "x-taro-ai-consent",
            "in": "header"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/HoldRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Held (or a live hold renewed)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Hold"
                }
              }
            }
          },
          "400": {
            "description": "VALIDATION_FAILED or IDEMPOTENCY_KEY_REQUIRED",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid install token",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          },
          "402": {
            "description": "INSUFFICIENT_CREDITS (details.reason, details.freeResetsAt)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          },
          "403": {
            "description": "AI_UNAVAILABLE_REGION or ATTESTATION_FAILED",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          },
          "409": {
            "description": "REQUEST_IN_PROGRESS or HOLD_CONFLICT",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          },
          "412": {
            "description": "AI_CONSENT_REQUIRED (details.requiredVersion)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          },
          "422": {
            "description": "SPREAD_INVALID (details.reason) or IDEMPOTENCY_KEY_REUSED",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          },
          "429": {
            "description": "Rate limited",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          },
          "503": {
            "description": "READINGS_DISABLED, AI_BUDGET_EXHAUSTED (details.tier) or AI_UNAVAILABLE",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          }
        }
      }
    },
    "/v1/readings": {
      "post": {
        "tags": [
          "readings"
        ],
        "summary": "Generate the AI reading of a drawn spread (03 §9.1)",
        "security": [
          {
            "installToken": []
          }
        ],
        "x-taro-auth": "token",
        "x-taro-flags": [
          "idem",
          "attest"
        ],
        "parameters": [
          {
            "schema": {
              "type": "string",
              "format": "uuid",
              "description": "[idem]: required; a UUID per user action, reused only on retry (03 §2.3)."
            },
            "required": false,
            "description": "[idem]: required; a UUID per user action, reused only on retry (03 §2.3).",
            "name": "idempotency-key",
            "in": "header"
          },
          {
            "schema": {
              "type": "string",
              "description": "[attest]: `aa1.<assertion>`, `pi1.<token>` or `none` (03 §3.4)."
            },
            "required": false,
            "description": "[attest]: `aa1.<assertion>`, `pi1.<token>` or `none` (03 §3.4).",
            "name": "x-taro-attestation",
            "in": "header"
          },
          {
            "schema": {
              "type": "string",
              "description": "AI consent version the user accepted (RC28); below `ai.consentVersion` → 412.",
              "example": "1"
            },
            "required": false,
            "description": "AI consent version the user accepted (RC28); below `ai.consentVersion` → 412.",
            "name": "x-taro-ai-consent",
            "in": "header"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ReadingRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Completed, or declined (never charged)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ReadingResponse"
                }
              }
            }
          },
          "400": {
            "description": "VALIDATION_FAILED or IDEMPOTENCY_KEY_REQUIRED",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid install token",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          },
          "402": {
            "description": "INSUFFICIENT_CREDITS (a new row without a hold)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          },
          "403": {
            "description": "AI_UNAVAILABLE_REGION or ATTESTATION_FAILED",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          },
          "409": {
            "description": "REQUEST_IN_PROGRESS or HOLD_CONFLICT",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          },
          "410": {
            "description": "READING_EXPIRED_REFUNDED (details.balance)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          },
          "412": {
            "description": "AI_CONSENT_REQUIRED (details.requiredVersion)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          },
          "422": {
            "description": "SPREAD_INVALID (details.reason) or IDEMPOTENCY_KEY_REUSED",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          },
          "429": {
            "description": "Rate limited",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          },
          "503": {
            "description": "READINGS_DISABLED, AI_BUDGET_EXHAUSTED (details.tier) or AI_UNAVAILABLE",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          }
        }
      }
    },
    "/v1/readings/{clientReadingId}": {
      "get": {
        "tags": [
          "readings"
        ],
        "summary": "Reading status and, until acknowledged, its text (03 §9.1, RC51)",
        "security": [
          {
            "installToken": []
          }
        ],
        "x-taro-auth": "token",
        "x-taro-flags": [],
        "parameters": [
          {
            "schema": {
              "type": "string",
              "minLength": 1,
              "maxLength": 64,
              "example": "0c6e7a52-3d1f-4b8e-9c2a-5e6f7a8b9c0d"
            },
            "required": true,
            "name": "clientReadingId",
            "in": "path"
          }
        ],
        "responses": {
          "200": {
            "description": "Status",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ReadingState"
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid install token",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          },
          "404": {
            "description": "No reading with this clientReadingId",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          },
          "410": {
            "description": "READING_EXPIRED_REFUNDED: never delivered, refunded once",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          },
          "429": {
            "description": "Rate limited",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          }
        }
      }
    },
    "/v1/readings/{clientReadingId}/ack": {
      "post": {
        "tags": [
          "readings"
        ],
        "summary": "Acknowledge delivery; the stored reading text is deleted (03 §9.1, RC51)",
        "security": [
          {
            "installToken": []
          }
        ],
        "x-taro-auth": "token",
        "x-taro-flags": [],
        "parameters": [
          {
            "schema": {
              "type": "string",
              "minLength": 1,
              "maxLength": 64,
              "example": "0c6e7a52-3d1f-4b8e-9c2a-5e6f7a8b9c0d"
            },
            "required": true,
            "name": "clientReadingId",
            "in": "path"
          }
        ],
        "responses": {
          "204": {
            "description": "Acknowledged (also when already acknowledged)"
          },
          "401": {
            "description": "Missing or invalid install token",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          },
          "404": {
            "description": "No reading with this clientReadingId",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          },
          "429": {
            "description": "Rate limited",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          }
        }
      }
    },
    "/v1/readings/{clientReadingId}/report": {
      "post": {
        "tags": [
          "readings"
        ],
        "summary": "Report an AI reading (S33); stored encrypted for 90 days (03 §9.7)",
        "security": [
          {
            "installToken": []
          }
        ],
        "x-taro-auth": "token",
        "x-taro-flags": [
          "idem"
        ],
        "parameters": [
          {
            "schema": {
              "type": "string",
              "minLength": 1,
              "maxLength": 64,
              "example": "6d2f1c9e-2b7a-4f6e-9a51-3c8d0e4b7a21"
            },
            "required": true,
            "name": "clientReadingId",
            "in": "path"
          },
          {
            "schema": {
              "type": "string",
              "format": "uuid",
              "description": "[idem]: required; a UUID per user action, reused only on retry (03 §2.3)."
            },
            "required": false,
            "description": "[idem]: required; a UUID per user action, reused only on retry (03 §2.3).",
            "name": "idempotency-key",
            "in": "header"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ReadingReportRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Report received (also for a reading already reported)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ReadingReport"
                }
              }
            }
          },
          "400": {
            "description": "Invalid body or missing Idempotency-Key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid install token",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          },
          "404": {
            "description": "No completed or declined reading with this clientReadingId",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          },
          "429": {
            "description": "Rate limited",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          }
        }
      }
    },
    "/v1/ads/admob/ssv": {
      "get": {
        "tags": [
          "rewards"
        ],
        "summary": "AdMob server-side verification callback (03 §7.2)",
        "security": [],
        "x-taro-auth": "signature",
        "x-taro-flags": [],
        "parameters": [
          {
            "schema": {
              "type": "string"
            },
            "required": false,
            "name": "ad_network",
            "in": "query"
          },
          {
            "schema": {
              "type": "string"
            },
            "required": false,
            "name": "ad_unit",
            "in": "query"
          },
          {
            "schema": {
              "type": "string",
              "description": "The reward `intentId` (RC56)"
            },
            "required": false,
            "description": "The reward `intentId` (RC56)",
            "name": "custom_data",
            "in": "query"
          },
          {
            "schema": {
              "type": "string"
            },
            "required": false,
            "name": "key_id",
            "in": "query"
          },
          {
            "schema": {
              "type": "string",
              "description": "Ignored: the intent snapshot wins"
            },
            "required": false,
            "description": "Ignored: the intent snapshot wins",
            "name": "reward_amount",
            "in": "query"
          },
          {
            "schema": {
              "type": "string"
            },
            "required": false,
            "name": "reward_item",
            "in": "query"
          },
          {
            "schema": {
              "type": "string"
            },
            "required": false,
            "name": "timestamp",
            "in": "query"
          },
          {
            "schema": {
              "type": "string"
            },
            "required": false,
            "name": "transaction_id",
            "in": "query"
          },
          {
            "schema": {
              "type": "string",
              "description": "Must equal `custom_data` (RC56)"
            },
            "required": false,
            "description": "Must equal `custom_data` (RC56)",
            "name": "user_id",
            "in": "query"
          },
          {
            "schema": {
              "type": "string"
            },
            "required": false,
            "name": "signature",
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "description": "Accepted: granted, duplicate, or rejected without a grant"
          },
          "403": {
            "description": "Invalid or unverifiable signature"
          }
        }
      }
    },
    "/v1/webhooks/appstore": {
      "post": {
        "tags": [
          "webhooks"
        ],
        "summary": "App Store Server Notifications v2 (03 §6.4)",
        "security": [],
        "x-taro-auth": "signature",
        "x-taro-flags": [],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AppStoreNotification"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Verified: handled, duplicate or ignored"
          },
          "400": {
            "description": "Invalid body or signature"
          },
          "500": {
            "description": "Handling failed; Apple retries"
          }
        }
      }
    },
    "/v1/webhooks/googleplay": {
      "post": {
        "tags": [
          "webhooks"
        ],
        "summary": "Google Play RTDN via Pub/Sub push (03 §6.4)",
        "security": [],
        "x-taro-auth": "signature",
        "x-taro-flags": [],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PubsubPush"
              }
            }
          }
        },
        "responses": {
          "204": {
            "description": "Handled, duplicate or ignored"
          },
          "400": {
            "description": "Invalid body"
          },
          "401": {
            "description": "Missing or invalid Pub/Sub OIDC token"
          },
          "500": {
            "description": "Handling failed; Pub/Sub retries"
          }
        }
      }
    }
  },
  "webhooks": {}
}
